[Desktop Entry]
Encoding=UTF-8
Name=TuxScape
Comment=A mythical adventure as Tux!
StartupNotify=false
Exec=tuxscape
Icon=${SNAP}/meta/gui/tuxscape.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;KidsGame;Graphics